doctype html
html
  head(lang="ja")
    link(rel="stylesheet",href="/main.css")
  body
    h1 Scaffold-Coffee
    p
      img(src="/img/sample.jpg")
  script(src="/assets/js/application.js")
  script(src="/js/main.js")

